@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');


body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lexend Deca', sans-serif;
  color: #A5A5A5;
  background: #272727;

}

#root{
  height: 100%;
}

.App{
  height: 100%;
}

button{
  background-color: #6EEB83;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 3px;
  outline: none;
  margin: 0;
}
.tag-input{
  border: none;
  all: unset;
  width: 100%;
  background-color: white;
  height: 2rem;
  border-radius: 0.5rem;
}

.tag-input-container{
  color: #4d4c4c;
  
  padding: 1rem 1rem;
  border: 2px solid #4d4c4c;
}

.tag-cont{
  background-color: #6EEB83;
}
.button-tag{
  all: unset;
  padding: 10px 5px;
  color: #4d4c4c;
  font-weight: 600;
}